@media (max-width: 767px) {

  html {
    width: 320px;
  }

  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section:not(:last-child) {
    margin-bottom: 50px;
  }

  .head-title {
    height: auto;
    font-size: 28px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Header                 //
  //                                        //
  //////////////////////////////////////////*/

  .header_top {
    height: 45px;
  }

  .header_top_burger {
    width: 25px;
    height: 18px;
    background-size: contain;
    background-image: url(../img/1_Header/media-320/Burger.svg);
  }

  .header_top_logo {
    width: 97px;
    height: auto;
  }

  .header_top_search-active {
    padding: 0 22px;
  }

  .top-search-input {
    width: auto;
  }

  .top-search-btn {
    right: -28px;
    height: 18px;
    width: 18px;
    background-size: contain;
  }

  .top-search-btn-active {
    transform: translateX(-255px);
  }

  .header_top_search_toggle {
    margin-left: 12px;
    height: 16px;
    width: 16px;
    background-size: contain;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                  Hero                  //
  //                                        //
  //////////////////////////////////////////*/

  .hero {
    height: 310px;
  }

  .hero_content {
    top: 30px;
    left: 0;
    right: 0;
    width: 258px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
  }

  .hero_content_title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.58px;
  }

  .hero_content_description {
    margin-top: 0;
    width: 246px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
  }

  .hero_content_btn {
    width: 200px;
    height: 40px;
    margin: 40px auto 6px;
    font-size: 12px;
  }

  .hero_content_btn::before {
    width: 207px;
    height: 45px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                About Us                //
  //                                        //
  //////////////////////////////////////////*/
  
  .aboutUs .head-title {
    margin-bottom: 8px;
    line-height: 21px;
  }

  .aboutUs_description {
    width: auto;
    font-size: 14px;
    line-height: 28px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Gallery                 //
  //                                        //
  //////////////////////////////////////////*/

  .gallery .swiper {
    width: 290px;
  }

  .gallery_info {
    width: auto;
  }

  .gallery_inner {
    padding: 57px 0px 49px;
  }

  .gallery_info_title {
    margin-bottom: 7px;
  }

  .filter_title {
    margin-bottom: 5px;
  }

  .gallery_info_filter, .gallery_info_options {
    margin-bottom: 30px;
  }
  
  .gallery_paintings {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery_paintings_nav {
    margin: 20px auto 0;
  }

  .gallery_paintings_slider_item {
    height: 366px;
    background-size: auto 100%;
    background-position: center 0px;
  }

  .gallery_popups_item {
    width: 290px;
    padding-left: 0;
    padding-top: 200px;
    margin-top: 23vw;
    background-position: center -79px;
    background-size: auto 60%;
  }

  .gallery_popups_item_info {
    padding: 18px;
  }

  .gallery_popups_item_info_description {
    margin-top: 10px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Catalog                 //
  //                                        //
  //////////////////////////////////////////*/

  .catalog_description_top_title {
    margin-bottom: 7px;
  }

  .catalog_description_top_title-text {
    margin-top: 4px;
  }

  .catalog_description_text {
    display: none;
  }

  .catalog_content {
    margin-top: 0;
  }

  .catalog_content_artist {
    padding-top: 181px;
  }

  .catalog_content_artist_info {
    padding-top: 20px;
  }

  .catalog_content_artist_info_description {
    margin-top: 7px;
    width: 98%;
  }

  .standard-title {
    font-size: 24px;
  }
  
  .catalog_content_artist-1 {
    background-position: 0 -82px;
  }
  
  .catalog_content_artist-default {
    background-image: url(../img/4_Catalog/media-320/default.png);
  }

  .catalog_content_accordion .catalog_content_accordion_item-inner {
    max-height: unset;
    padding: 21px 0 19px;
  }

  .catalog_content_accordion .catalog_content_accordion_item-name {
    height: 74px;
  }

  .catalog_content_accordion_item-name .ui-icon {
    height: 30px;
    width: 30px;
    background-position: center 13px;
    background-size: 11px;
  }

  .catalog_content_accordion_item-name_date {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }

  .catalog_content_artist-default {
    line-height: 21.79px;
  }

  .catalog_content_accordion_item_default_picture {
    width: 90px;
    height: 130px;
  }

  .default_picture_img {
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
  }

  .catalog_content_accordion_item_default_info {
    width: 175px;
  }

  .default_info_description {
    font-size: 16px;
  }

  a.to-galery-link {
    font-size: 16px;
    font-weight: 600;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Events                 //
  //                                        //
  //////////////////////////////////////////*/

  .section.events {
    margin-bottom: 100px;
  }

  .events_title {
    margin-top: 4px;
    margin-bottom: 7px;
  }

  .events_cards_list_item_inner {
    padding: 60px 22px 34px;
    height: 483px;
  }

  .events_cards_list_item_inner_caption {
    top: 17px;
  }

  .events_cards_list_item_inner_content_text {
    margin-top: 3px;
  }

  .events_cards_list_item_inner_content_btn {
    bottom: 50px;
    left: 28px;
  }

  .events_cards-swiper .swiper-pagination {
    bottom: -41px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Projects                //
  //                                        //
  //////////////////////////////////////////*/
/* 
  .section.projects {
    margin-top: -2px;
  } */

  .projects_title {
    margin-top: -15px;
    margin-bottom: 2px;
    line-height: 34px;
  }

  .projects_partners {
    margin-top: 50px;
    width: 291px;
  }

  .projects_partners_title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .projects_partners_links {
    padding: 0 47px;
  }

  .projects_partners_links_swiper_btns {
    top: 17px;
  }

  .projects_partners_links_swiper_btn-item {
    background-position: center 12px;
  }

  .projects_partners_links_swiper_conent_item {
    min-width: unset;
    width: 195px;
    height: 65px;
  }

  .projects_partners_links_swiper_conent_item-1 {
    background-size: 54%;
  }

  .projects_partners_links_swiper_conent_item-2 {
    background-size: 73%;
  }

  .projects_partners_links_swiper_conent_item-3 {
    background-size: 60%;
  }

  .projects_partners_links_swiper_conent_item-4 {
    background-size: 31%;
    background-position-y: 15px;
  }

  .projects_partners_links_swiper_conent_item-5 {
    background-size: 40%;
    background-position-y: 10px;
  }

  .projects_partners_links_swiper_conent_item-6 {
    background-size: 60%;
  }
  
  .projects_partners_links_swiper_conent_item-7 {
    background-size: 62%;
  }

  .projects_partners_links_swiper_conent_item-8 {
    background-size: 44%;
  }

  .projects_partners_links_swiper_conent_item-9 {
    background-size: 56%;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Contacts                //
  //                                        //
  //////////////////////////////////////////*/

  .contacts .container {
    border: none;
  }

  .contacts_content {
    padding: 0px 0 16px;
    margin-top: -4px;
  }

  .contacts_content_location {
    margin-bottom: 13px;
  }

  .contacts_content_location_name {
    font-size: 18px;
  }

  .contacts_content_location_address {
    margin-top: -5px;
    font-size: 14px;
  }

  .getACall_form_fieldset_item {
    width: 290px;
    height: 40px;
  }

  .getACall_form_fieldset_item:not(:last-child) {
    margin-bottom: 20px;
  }

  .getACall_form_fieldset_btn {
    width: 125px;
    font-size: 12px;
  }

  .getACall_form_fieldset_btn:before {
    top: -8px;
    left: -8px;
    width: 130px;
    height: 44px;
  }

  .getACall_form_fieldset_btn span {
    display: none;
  }

  .contacts_content_socials {
    margin-top: 20px;
  }

  .contacts_content_socials_title {
    font-weight: 400;
    font-size: 18px;
  }

  .contacts_content_socials_links_item {
    width: 50px;
    height: 50px;
    background-size: contain;
  }

  .contacts_content_socials_links_item:not(:last-child) {
    margin-right: 15px;
  }

  .contacts_content_socials_links_item:active {
    border-radius: 25px;
  }

  #contacts_map {
    width: 320px;
    height: 320px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Footer                 //
  //                                        //
  //////////////////////////////////////////*/

  .footer {
    height: auto;
  }

  .footer_inner {
    height: unset;
    padding-top: 20px;
    flex-direction: column-reverse;
    justify-content: unset;
  }

  .footer_logo {
    margin: 20px 0;
    width: 95px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footer_social_item {
    width: 50px;
    height: 50px;
  }


  
}