@media (max-width: 1023px) {

  html {
    width: 768px;
  }

  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Header                 //
  //                                        //
  //////////////////////////////////////////*/

  .header_top_search {
    transition: background-color .3s ease-in-out;
  }

  .header_top_search-active {
    position: absolute;
    justify-content: end;
    padding: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 1;
  }

  .top-search-btn-active {
    transform: translateX(-635px);
    pointer-events: auto;
  }

  .top-search-input {
    width: 590px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                  Hero                  //
  //                                        //
  //////////////////////////////////////////*/

  .hero-slider_item {
    background-position: center -333px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Gallery                 //
  //                                        //
  //////////////////////////////////////////*/

  .gallery {
    background-size: auto;
  }

  .gallery_inner {
    flex-direction: column;
  }

  .gallery_info {
    width: 279px;
    min-width: unset;
  }

  .is-open .choices__list--dropdown {
    background-color: #000;
  }

  .gallery_info_options {
    position: unset;
    width: 150px;
  }

  .gallery_info_options_item-input + span::before {
    right: 0;
  }

  .gallery_info_filter, .gallery_info_options {
    margin-bottom: 40px;
  }

  .gallery .swiper {
    width: 668px;
    height: unset;
    margin-top: 0;
  }

  .gallery_paintings_nav {
    margin-bottom: 28px;
  }

  .gallery_paintings_slider_item {
    height: 330px;
    background-size: 109% auto;
  }

  .gallery_popups_item {
    padding-left: 301px;
    width: 668px;
    background-position: -94px 0;
  }

  .gallery_popups_item_info {
    padding-right: 41px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Catalog                 //
  //                                        //
  //////////////////////////////////////////*/

  .catalog_content {
    flex-direction: column-reverse;
    margin-top: 21px;
  }

  .catalog_content_accordion {
    width: auto
  }

  .catalog_content_accordion .catalog_content_accordion_item-inner {
    max-height: 338px;
  }

  .catalog_content_accordion_item_default_picture {
    width: 275px;
    height: 189px;
  }

  .catalog_content_accordion_item_default_info {
    width: 275px;
  }

  .catalog_content_artist {
    margin-top: 50px;
    padding-top: 419px;
    width: auto;
    background-size: 100%;
  }

  .catalog_content_artist_info {
    padding-top: 23px;
  }

  .catalog_content_artist_info_description {
    margin-top: -1px;
  }

  .catalog_content_artist-1 {
    background-position: 0 -186px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Events                 //
  //                                        //
  //////////////////////////////////////////*/

  .events_title {
    margin-top: 8px;
  }

  .events_cards_list_item_inner {
    padding-top: 49px;
  }

  .events_cards_list_item_inner_caption {
    right: 17px;
    top: 15px;
  }

  .events_cards_list_item_inner_content {
    margin-top: 2px;
  }

  .events_cards_list_item_inner_content_btn {
    bottom: 48px;
  }

  .events_cards_list_item_2, .events_cards_list_item_5 {
    background-size: auto 212px;
  } 

  .events_cards_list_item_3 {
    background-size: auto 238px;
  }

  .events_cards_list_item_4 {
    background-size: auto 475px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Projects                //
  //                                        //
  //////////////////////////////////////////*/

  .section.projects {
    margin-bottom: 81px;
  }

  .projects_partners {
    margin-top: 27px;
    width: 668px;
  }

  .projects_partners_title {
    margin-bottom: 29px;
  }

  .projects_partners_links {
    padding: 0 53px;
  }

  .projects_partners_links_swiper_btns {
    top: 37px;
  }

  .projects_partners_links_swiper_conent_item {
    min-width: 263px;
    height: 106px;
    background-size: 80%;
  }

  .projects_partners_links_swiper_conent_item-1, .projects_partners_links_swiper_conent_item-2  {
    background-size: 80%;
  }

  .projects_partners_links_swiper_conent_item-3 {
    background-size: 77%;
  }

  .projects_partners_links_swiper_conent_item-4 {
    background-size: 40%;
    background-position-y: 22px;
  }

  .projects_partners_links_swiper_conent_item-5 {
    background-size: 47%;
    background-position-y: 18px;
  }

  .projects_partners_links_swiper_conent_item-6 {
    background-size: 70%;
  }

  .projects_partners_links_swiper_conent_item-7 {
    background-size: 70%;
  }

  .projects_partners_links_swiper_conent_item-8 {
    background-size: 54%;
  }

  .projects_partners_links_swiper_conent_item-9 {
    background-size: 74%;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Contacts                //
  //                                        //
  //////////////////////////////////////////*/

  .getACall_form_fieldset {
    flex-wrap: wrap;
  }

  .getACall_form_fieldset_item {
    width: 323px;
  }

  .getACall_form_fieldset_item:not(:last-child) {
    margin-bottom: 12px;
  }

  .getACall_form_fieldset_btn {
    width: 317px;
  }

  #contacts_map {
    width: 768px;
  }













}