@media (max-width: 767px) {


  html {
    width: 320px;
  }

  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section:not(:last-child) {
    margin-bottom: 50px;
  }

  .head-title {
    height: auto;
    font-size: 28px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Header                 //
  //                                        //
  //////////////////////////////////////////*/

  .headerTop {
    height: 45px;
  }

  .headerTop__burger {
    width: 25px;
    height: 18px;
    background-size: contain;
    background-image: url(../img/1_Header/media-320/Burger.svg);
  }

  .logo {
    width: 97px;
    height: auto;
  }
  
  .headerTop__search_active {
    padding: 0 22px;
  }

  .hiddenSearch__input {
    width: auto;
  }

  .hiddenSearch__btn {
    right: -28px;
    height: 18px;
    width: 18px;
    background-size: contain;
  }

  .hiddenSearch__btn_active {
    transform: translateX(-255px);
  }

  .hiddenSearch__toggle {
    margin-left: 12px;
    height: 16px;
    width: 16px;
    background-size: contain;
  }




}