@media (max-width: 767px) {

  html {
    width: 320px;
  }

  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section:not(:last-child) {
    margin-bottom: 50px;
  }

  .head-title {
    height: auto;
    font-size: 28px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Header                 //
  //                                        //
  //////////////////////////////////////////*/

  .headerTop {
    height: 45px;
  }

  .headerTop__burger {
    width: 25px;
    height: 18px;
    background-size: contain;
    background-image: url(../img/1_Header/media-320/Burger.svg);
  }

  .logo {
    width: 97px;
    height: auto;
  }
  
  .headerTop__search_active {
    padding: 0 22px;
  }

  .hiddenSearch__input {
    width: auto;
  }

  .hiddenSearch__btn {
    right: -28px;
    height: 18px;
    width: 18px;
    background-size: contain;
  }

  .hiddenSearch__btn_active {
    transform: translateX(-255px);
  }

  .hiddenSearch__toggle {
    margin-left: 12px;
    height: 16px;
    width: 16px;
    background-size: contain;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                  Hero                  //
  //                                        //
  //////////////////////////////////////////*/

  .hero {
    height: 310px;
  }

  .hero__content {
    top: 30px;
    left: 0;
    right: 0;
    width: 258px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.58px;
  }

  .hero__description {
    margin-top: 0;
    width: 246px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
  }

  .hero__btn {
    width: 200px;
    height: 40px;
    margin: 40px auto 6px;
    font-size: 12px;
  }

  .hero__btn::before {
    width: 207px;
    height: 45px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                About Us                //
  //                                        //
  //////////////////////////////////////////*/

  .aboutUs__title {
    margin-bottom: 8px;
    line-height: 21px;
  }

  .aboutUs__description {
    width: auto;
    font-size: 14px;
    line-height: 28px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Gallery                 //
  //                                        //
  //////////////////////////////////////////*/


  .gallery .swiper {
    width: 290px;
  }

  .gallery__info {
    width: auto;
  }

  .gallery__container {
    padding: 57px 0px 49px;
  }

  .gallery__title {
    margin-bottom: 7px;
  }

  .filter__title {
    margin-bottom: 5px;
  }

  .gallery__filter, .gallery__checkboxOptionsBlock {
    margin-bottom: 30px;
  }
  
  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery__nav {
    margin: 20px auto 0;
  }

  .gallery__item {
    height: 366px;
    background-size: auto 100%;
    background-position: center 0px;
  }

  .gallery__popupItem {
    margin-top: 23vw;
  }

  .popup {
    width: 290px;
    padding-left: 0;
    padding-top: 200px;
    background-position: center -79px;
    background-size: auto 60%;
  }

  .popup__info {
    padding: 18px;
  }

  .popup__description {
    margin-top: 10px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Catalog                 //
  //                                        //
  //////////////////////////////////////////*/


  .catalog__title {
    margin-bottom: 7px;
    margin-top: 4px;
  }

  .catalog__descriptionText {
    display: none;
  }
  
  .catalog__content {
    margin-top: 0;
  }

  .biography {
    padding-top: 181px;
  }

  .biography__info {
    padding-top: 20px;
  }

  .biography__description {
    margin-top: 7px;
    width: 98%;
  }
  
  .standard-title {
    font-size: 24px;
  }
  
  .catalog__artist_background_1 {
    background-position: 0 -82px;
  }
  
  .catalog__artist_default {
    background-image: url(../img/4_Catalog/media-320/default.png);
    line-height: 21.79px;

  }
  





  .accordion .accordion__list {
    max-height: unset;
    padding: 21px 0 19px;
  }

  .accordion .accordion__name {
    height: 74px;
  }

  .accordion__name .ui-icon {
    height: 30px;
    width: 30px;
    background-position: center 13px;
    background-size: 11px;
  }

  .accordion__date {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }

  .accordion__picture_default {
    width: 90px;
    height: 130px;
  }

  .accordion__img_default {
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
  }

  .accordion__info_default {
    width: 175px;
  }

  .accordion__description_default {
    font-size: 16px;
  }

  a.to-galery-link {
    font-size: 16px;
    font-weight: 600;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Events                 //
  //                                        //
  //////////////////////////////////////////*/

  .section.events {
    margin-bottom: 100px;
  }

  .events__title {
    margin-top: 4px;
    margin-bottom: 7px;
  }

  .cardsSwiper__content {
    padding: 60px 22px 34px;
    height: 483px;
  }

  .cardsSwiper__caption {
    top: 17px;
  }

  .cardsSwiper__text {
    margin-top: 3px;
  }

  .cardsSwiper__btn {
    bottom: 50px;
    left: 28px;
  }

  .events__cards .swiper-pagination {
    bottom: -41px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Projects                //
  //                                        //
  //////////////////////////////////////////*/

  .projects__title {
    margin-top: -15px;
    margin-bottom: 2px;
    line-height: 34px;
  }

  .partners {
    width: 291px;
  }

  .projects_partners {
    margin-top: 50px;
  }

  .partners__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .partners__content {
    padding: 0 47px;
  }

  .partners__nav {
    top: 17px;
  }

  .partners__navItem {
    background-position: 6px 9px;
  }

  .partners__item {
    min-width: unset;
    width: 195px;
    height: 65px;
  }

  .partners__item_background_1 {
    background-size: 54%;
  }

  .partners__item_background_2 {
    background-size: 73%;
  }

  .partners__item_background_3 {
    background-size: 60%;
  }

  .partners__item_background_4 {
    background-size: 31%;
    background-position-y: 15px;
  }

  .partners__item_background_5 {
    background-size: 40%;
    background-position-y: 10px;
  }

  .partners__item_background_6 {
    background-size: 60%;
  }
  
  .partners__item_background_7 {
    background-size: 62%;
  }

  .partners__item_background_8 {
    background-size: 44%;
  }

  .partners__item_background_9 {
    background-size: 56%;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Contacts                //
  //                                        //
  //////////////////////////////////////////*/

  .contacts__container {
    border: none;
  }

  .contacts__content {
    padding: 0px 0 16px;
    margin-top: -4px;
  }

  .contacts__location {
    margin-bottom: 13px;
  }

  .location__name {
    font-size: 18px;
  }

  .location__address {
    margin-top: -5px;
    font-size: 14px;
  }

  .getACallForm__item {
    width: 290px;
    height: 40px;
  }

  .getACallForm__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .getACallForm__item_btn {
    width: 125px;
    font-size: 12px;
  }

  .getACallForm__item_btn:before {
    top: -8px;
    left: -8px;
    width: 130px;
    height: 44px;
  }

  .getACallForm__item_btn span {
    display: none;
  }

  .contacts__socials {
    margin-top: 20px;
  }

  .socials__title {
    font-weight: 400;
    font-size: 18px;
  }

  .socials__item {
    width: 50px;
    height: 50px;
    background-size: contain;
  }

  .socials__item:not(:last-child) {
    margin-right: 15px;
  }

  .socials__item:active {
    border-radius: 25px;
  }

  #contacts__map {
    width: 320px;
    height: 320px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Footer                 //
  //                                        //
  //////////////////////////////////////////*/

  .footer {
    height: auto;
  }

  .footer__container{
    height: unset;
    padding-top: 20px;
    flex-direction: column-reverse;
    justify-content: unset;
  }

  .footer__logo {
    margin: 20px 0;
    width: 95px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .footerSocials__item {
    width: 50px;
    height: 50px;
  }

}