@media (max-width: 1023px) {

  html {
    width: 768px;
  }

  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Header                 //
  //                                        //
  //////////////////////////////////////////*/

  .headerTop__search {
    transition: background-color .3s ease-in-out;
  } 
  
  .headerTop__search_active {
    position: absolute;
    justify-content: end;
    padding: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 1;
  }

  .hiddenSearch__btn_active {
    transform: translateX(-635px);
    pointer-events: auto;
  }

  .hiddenSearch__input {
    width: 590px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                  Hero                  //
  //                                        //
  //////////////////////////////////////////*/

  .hero__item {
    background-position: center -333px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Gallery                 //
  //                                        //
  //////////////////////////////////////////*/

  .gallery {
    background-size: auto;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__info {
    width: 279px;
    min-width: unset;
  }

  .is-open .choices__list--dropdown {
    background-color: #000;
  }

  .checkboxOptionsBlock {
    width: 150px;
  }

  .gallery__checkboxOptionsBlock {
    position: unset;
  }

  .checkboxOptionsBlock__input + span::before {
    right: 0;
  }

  .gallery__filter, .gallery__checkboxOptionsBlock {
    margin-bottom: 40px;
  }

  .gallery .swiper {
    width: 668px;
    height: unset;
    margin-top: 0;
  }

  .gallery__nav {
    margin-bottom: 28px;
  }

  .gallery__item {
    height: 330px;
    background-size: 109% auto;
  }

  .popup {
    padding-left: 301px;
    width: 668px;
    background-position: -94px 0;
  }

  .popup__info {
    padding-right: 41px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Catalog                 //
  //                                        //
  //////////////////////////////////////////*/

  .catalog__content {
    flex-direction: column-reverse;
    margin-top: 21px;
  }

  .catalog__artist {
    margin-top: 50px;
  }

  .biography {
    padding-top: 419px;
    width: auto;
    background-size: 100%;
  }

  .biography__info {
    padding-top: 23px;
  }

  .biography__description {
    margin-top: -1px;
  }

  .catalog__artist_background_1 {
    background-position: 0 -186px;
  }

  .accordion {
    width: auto
  }

  .accordion .accordion__list {
    max-height: 338px;
  }

  .defaultAccordionBlock__picture {
    width: 275px;
    height: 189px;
  }

  .defaultAccordionBlock__info {
    width: 275px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                 Events                 //
  //                                        //
  //////////////////////////////////////////*/

  .events__title {
    margin-top: 8px;
  }

  .cardsSwiper__content {
    padding-top: 49px;
  }

  .cardsSwiper__caption {
    right: 17px;
    top: 15px;
  }

  .cardsSwiper__info {
    margin-top: 2px;
  }

  .cardsSwiper__btn {
    bottom: 48px;
  }

  .cardsSwiper__item_background_2, .cardsSwiper__item_background_5 {
    background-size: auto 212px;
  } 

  .cardsSwiper__item_background_3 {
    background-size: auto 238px;
  }

  .cardsSwiper__item_background_4 {
    background-size: auto 475px;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Projects                //
  //                                        //
  //////////////////////////////////////////*/

  .section.projects {
    margin-bottom: 81px;
  }

  .partners {
    width: 668px;
  }

  .projects_partners {
    margin-top: 27px;
  }

  .partners__title {
    margin-bottom: 29px;
  }

  .partners__content {
    padding: 0 53px;
  }

  .partners__nav {
    top: 37px;
  }

  .partners__item {
    min-width: 263px;
    height: 106px;
    background-size: 80%;
  }

  .partners__item_background_1, .partners__item_background_2  {
    background-size: 80%;
  }

  .partners__item_background_3 {
    background-size: 77%;
  }

  .partners__item_background_4 {
    background-size: 40%;
    background-position-y: 22px;
  }

  .partners__item_background_5 {
    background-size: 47%;
    background-position-y: 18px;
  }

  .partners__item_background_6 {
    background-size: 70%;
  }

  .partners__item_background_7 {
    background-size: 70%;
  }

  .partners__item_background_8 {
    background-size: 54%;
  }

  .partners__item_background_9 {
    background-size: 74%;
  }

  /*//////////////////////////////////////////
  //                                        //
  //                Contacts                //
  //                                        //
  //////////////////////////////////////////*/

  .getACallForm__fieldset {
    flex-wrap: wrap;
  }

  .getACallForm__item {
    width: 323px;
  }

  .getACallForm__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .getACallForm__item_btn {
    width: 317px;
  }

  #contacts__map {
    width: 768px;
  }

}