@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/opensans-light-webfont.woff2) format('woff2'), url(../fonts/Open_Sans/opensans-light-webfont.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/opensans-regular-webfont.woff2) format('woff2'), url(../fonts/Open_Sans/opensans-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/opensans-italic-webfont.woff2) format('woff2'), url(../fonts/Open_Sans/opensans-italic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/opensans-semibold-webfont.woff2) format('woff2'), url(../fonts/Open_Sans/opensans-semibold-webfont.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/opensans-bold-webfont.woff2) format('woff2'), url(../fonts/Open_Sans/opensans-bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --HeaderFooterBackgroundColor:#000;
  --HeaderBottomBackgroundColor: rgba(0, 0, 0, 0.4);
}

::selection {
  background: #7943A4;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

html {
  margin: auto;
  width: 1920px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h1, h2 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  -webkit-appearance: none;
	margin-right: 2px;
	width: 15px;
	height: 15px;
	background: url(../img/0_Global/Cross-purple.svg);
  background-size: contain;
  background-repeat: no-repeat;
	cursor: pointer;
}

.simplebar-track.simplebar-vertical {
  background-color: #000;
  width: 2px;
}

.simplebar-scrollbar {
  background-color: #fff;
  width: 2px;
}

.container {
  width: 1920px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 160px;
  padding-right: 160px;
}

.section:not(:last-child) {
  margin-bottom: 80px;
}

.head-title {
  display: inline-block;
  margin-bottom: 10px;
  height: 51px;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
}

  .link-animation:focus {
    background-color: #7943A4;
    color: #fff;
  }

  .link-animation:hover {
    color: #C283F3;
  }

  .link-animation:active {
    color: #7943A4;
    background-color: transparent;
  }

.standard-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
}

a.to-galery-link {
  line-height: 23px;
  color: #9D5CD0;
  font-weight: 600;
}

/*//////////////////////////////////////////
//                                        //
//                 Header                 //
//                                        //
//////////////////////////////////////////*/

.header {
  position: relative;
  width: 100vw;
  font-size: 18px;
}

.headerTop {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--HeaderFooterBackgroundColor);
}

.headerTop__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.headerTop__burger {
  display: none;
  width: 36px;
  height: 28px;
  background-image: url(../img/1_Header/media-1024/Burger.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.headerTop__burger:hover {
  background-image: url(../img/1_Header/media-1024/Burger-hover.svg);
}

.headerTop__burger:focus, .headerTop__burger:active {
  background-image: url(../img/1_Header/media-1024/Burger-active.svg);
}

.logo {
  height: 40px;
  width: 173px;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 1250px;
}

.headerTop__nav {
  margin-left: -100px;
  margin-bottom: 1px;
}

.nav__close {

}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 761px;
  margin-left: -3px;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 0px 6px;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  outline: none;
  transition: all .15s ease-in-out;
}

.nav__enter {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 84px;
  font-size: 18px;
  outline: none;
}

.nav__enter:focus {
  background-color: #7943A4;
}

.nav__enterLink {
  display: flex;
  padding-left: 26px;
  color: #fff;
  background-image: url(../img/1_Header/Enter.svg);
  background-position: 9%;
  background-repeat: no-repeat;
  outline: none;
  transition: all .15s ease-in-out;
}

.nav__enterLink:hover {
  background-image: url(../img/1_Header/Enter-hover.svg);
}

.nav__enterLink:active {
  background-image: url(../img/1_Header/Enter-active.svg);
  color: #9D5CD0;
}

.hiddenSearch {
  display: none;
  align-items: center;
}

.hiddenSearch__form {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform .8s ease;
}

.hiddenSearch__btn {
  position: absolute;
  display: inline-block;
  right: -35px;
  height: 29px;
  width: 29px;
  background-image: url(../img/1_Header/Search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  cursor: pointer;
  pointer-events: none;
  transition: transform .6s ease-in-out;
}


.hiddenSearch__btn:hover, .hiddenSearch__btn:focus {
  background-image: url(../img/1_Header/Search-purple.svg);
}

.hiddenSearch__btn_active {
  transform: translateX(-260px);
  pointer-events: auto;
}

.hiddenSearch__input {
  display: inline-block;
  width: 218px;
  padding: 0 1px 2px 0;
  margin-bottom: 2px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  transform: translateY(4px);
  cursor: pointer;
  outline: none;
  caret-color: white;
  opacity: 0;
  pointer-events: none;
}

.hiddenSearch__input:hover, .hiddenSearch__input:focus {
  border-bottom: 1px solid #C283F3;
}

.hiddenSearch__input:active {
  border-bottom: 1px solid #7943A4;
}

.hiddenSearch__input_active {
  opacity: 1;
  transition: opacity .8s ease;
  transition-delay: .5s;
  pointer-events: auto;
}

.hiddenSearch__toggle {
  display: inline-block;
  margin-left: 15px;
  height: 24px;
  width: 24px;
  background-image: url(../img/1_Header/media-1024/SearchToggle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: 0;
  transition: opacity .8s ease;
  outline: none;
}

.hiddenSearch__toggle:hover {
  background-image: url(../img/1_Header/media-1024/SearchToggle-hover.svg);
}

.hiddenSearch__toggle:focus, .hiddenSearch__toggle:active {
  background-image: url(../img/1_Header/media-1024/SearchToggle-active.svg);
}

.hiddenSearch__toggle_active {
  opacity: 1;
}

.headerBottom {
  display: flex;
  align-items: center;
  height: 71px;
  width: 100vw;
  background-color: var(--HeaderBottomBackgroundColor);
  font-size: 18px;
}

.header__bottom {
  position: absolute;
  margin-top: -1px;
  z-index: 3;
}

.headerBottom__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerBottom__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -1px;
  margin-left: -8px;
  width: 1050px;
}

.dropdownOptionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headerBottom__item {
  position: relative;
}

.dropdownOptionBlock__link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0px 22px 0px 7px;
  outline: none;
  transition: all .15s ease-in-out;
}


.dropdownOptionBlock__link::after {
  position: absolute;
  content: '';
  top: 50%;
  height: 7px;
  width: 12px;
  margin-left: 3.5px;
  background-image: url(../img/0_Global/Arrow.svg);
  background-repeat: no-repeat;
  background-position: right 60%;
  transform: translateY(-40%);
}

.dropdownOptionBlock__link:hover::after {
  background-image: url(../img/1_Header/Arrow-hover.svg);
}

.dropdownOptionBlock__link:active::after {
  background-image: url(../img/1_Header/Arrow-up-active.svg);
}

.dropdownOptionBlock__link_active {
  background-color: #7943A4;
  color: #fff;
}

.dropdownOptionBlock__link_active::after {
  background-image: url(../img/1_Header/Arrow-up--active.svg);
}

.dropdownOptionBlock__dropdown {
  position: absolute;
  left: 0;
  top: 70px;
  display: none;
  height: 300px;
  width: 300px;
  padding: 40px 20px 40px 40px;
  background-color: var(--HeaderBottomBackgroundColor);
}

.dropdownOptionBlock__dropdown_active {
  display: inline-block;
}

.dropdownOptionBlock__options {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  height: 220px;
}

.dropdownOptionBlock__item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-repeat: no-repeat;
  background-color: rgba(194, 131, 243, 0.4);
  outline: none;
}


.dropdownOptionBlock__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdownOptionBlock__item:hover, .dropdownOptionBlock__item:focus {
  border: 1px solid #9D5CD0;
}

.dropdownOptionBlock__item:active {
  background-blend-mode: overlay;
  border: 1px solid transparent;
}

.dropdownOptionBlock__item_background_realism-1 {
  background-image: url(../img/1_Header/Realizm/Tintoretto_bgr.jpg);
  background-position: 0 -117px;
}

.dropdownOptionBlock__item_background_realism-2 {
  background-image: url(../img/1_Header/Realizm/Fridrich_bgr.jpg);
  background-position: 0 -42px;
}

.dropdownOptionBlock__item_background_realism-3 {
  background-image: url(../img/1_Header/Realizm/Leonardo_bgr.jpg);
  background-position: 0 -152px;
}

.dropdownOptionBlock__item_background_realism-4 {
  background-image: url(../img/1_Header/Realizm/Verrokkyo_bgr.jpg);
  background-position: 0 -53px;
}

.dropdownOptionBlock__item_background_impressionizm-1 {
  background-image: url(../img/1_Header/Impressionizm/Mone_bgr.jpg);
  background-position: 0px -144px;
}

.dropdownOptionBlock__item_background_impressionizm-2 {
  background-image: url(../img/1_Header/Impressionizm/Sisley_bgr.jpg);
  background-position: 0px -58px;
}

.dropdownOptionBlock__item_background_impressionizm-3 {
  background-image: url(../img/1_Header/Impressionizm/Mane_bgr.jpg);
  background-position: 0px -129px;
}

.dropdownOptionBlock__item_background_impressionizm-4 {
  background-image: url(../img/1_Header/Impressionizm/Renuar_bgr.jpg);
  background-position: 0px -88px;
}

.dropdownOptionBlock__item_background_postimpressionizm-1 {
  background-image: url(../img/1_Header/postimpressionizm/VanGog_bgr.jpg);
  background-position: 0px -125px;
}

.dropdownOptionBlock__item_background_postimpressionizm-2 {
  background-image: url(../img/1_Header/postimpressionizm/Sezann_bgr.jpg);
  background-position: 0px -69px;
}

.dropdownOptionBlock__item_background_postimpressionizm-3 {
  background-image: url(../img/1_Header/postimpressionizm/Gogen_bgr.jpg);
  background-position: 0px -58px;
}

.dropdownOptionBlock__item_background_postimpressionizm-4 {
  background-image: url(../img/1_Header/postimpressionizm/Syora_bgr.jpg);
  background-position: 0px -144px;
}

.dropdownOptionBlock__item_background_avangard-1 {
  background-image: url(../img/1_Header/Avangard/Kandinskiy_bgr.jpg);
  background-position: 0px -57px;
}

.dropdownOptionBlock__item_background_avangard-2 {
  background-image: url(../img/1_Header/Avangard/Marinetty_bgr.jpg);
  background-position: 0px -51px;
}

.dropdownOptionBlock__item_background_avangard-3 {
  background-image: url(../img/1_Header/Avangard/Malevich_bgr.jpg);
  background-position: 0px -54px;
}

.dropdownOptionBlock__item_background_avangard-4 {
  background-image: url(../img/1_Header/Avangard/Picasso_bgr.jpg);
  background-position: 0px -116px;
}

.header-bottom-dropdown-item-background-futurizm-1 {
  background-image: url(../img/1_Header/Futurizm/Karra_bgr.jpg);
  background-position: 0px -52px;
}

.header-bottom-dropdown-item-background-futurizm-2 {
  background-image: url(../img/1_Header/Futurizm/Pratella_bgr.jpg);
  background-position: 0px -51px;
}

.header-bottom-dropdown-item-background-futurizm-3 {
  background-image: url(../img/1_Header/Futurizm/Severini_bgr.jpg);
  background-position: 0px -52px;
}

.header-bottom-dropdown-item-background-futurizm-4 {
  background-image: url(../img/1_Header/Futurizm/Balla_bgr.jpg);
  background-position: 0px -62px;
}

.regSearch {
  display: flex;
  align-items: center;
}

.regSearch__btn {
  display: inline-block;
  margin-right: 9px;
  height: 22px;
  width: 23px;
  background-image: url(../img/1_Header/Search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  transform: translateY(7px);
  cursor: pointer;
  transition: all .15s ease-in-out;
}

  .regSearch__btn:hover, .regSearch__btn:focus {
    background-image: url(../img/1_Header/Search-purple.svg);
  }

.regSearch__input {
  width: 218px;
  padding: 0 1px 2px 0;
  margin-bottom: 2px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  transform: translateY(4px);
  cursor: pointer;
  outline: none;
  caret-color: white;
  transition: all .15s ease-in-out;
}

.regSearch__input::placeholder{
  color: #fff;
}

  .regSearch__input:hover, .regSearch__input:focus {
    border-bottom: 1px solid #C283F3;
  }

  .regSearch__input:active {
    border-bottom: 1px solid #7943A4;
  }

.regSearch__input::-webkit-input-placeholder {color:#fff;}
.regSearch__input::-moz-placeholder          {color:#fff;}
.regSearch__input:-moz-placeholder           {color:#fff;}
.regSearch__input:-ms-input-placeholder      {color:#fff;}

/*//////////////////////////////////////////
//                                        //
//                  Hero                  //
//                                        //
//////////////////////////////////////////*/


.hero {
  height: 700px;
  width: 100vw;
  overflow: hidden;
}

.hero .swiper {
  height: 700px;
}

.hero__slider {
  height: 100%;
}

.hero__item {
  height: 700px;
  background-repeat: no-repeat;
  background-position: center -1136px;
  background-size: cover;
}

.swiper-slide-active.hero__item {
  animation: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.hero__item_background_1 {
  background-image: url(../img/2_Hero/Slider1.jpg);
}

.hero__item_background_2 {
  background-image: url(../img/2_Hero/Slider2.jpg);
}

.hero__item_background_3 {
  background-image: url(../img/2_Hero/Slider3.jpg);
}

.hero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 135px;
  width: 597px;
  margin-left: 152px;
  padding-left: 8px;
  color: #fff;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.hero__title {
  margin-bottom: -3px;
  font-size: 72px;
  font-weight: 700;
  line-height: 97px;
}

.hero__description {
  width: 94%;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.hero__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 314px;
  height: 70px;
  margin: 92px 0 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: #fff;
  background-color: #9D5CD0;
  border-radius: 50px;
  outline: none;
  pointer-events: auto;
  border: 1px solid #9D5CD0;
  transition: background-color .15s ease-in-out, border .15s ease-in-out;
}

.hero__btn:before {
  content: '';
  position: absolute;
  display: block;
  width: 322px;
  height: 75px;
  border: 2px solid #C283F3;
  border-radius: 40px;
  z-index: 5;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.hero__btn:hover {
  border: 3px solid #D1A9F0;
}

.hero__btn:focus:before {
  opacity: 1;
}

.hero__btn:active {
  background-color: #7943A4;
}

.hero__btn:active:before {
  opacity: 0;
}

/*//////////////////////////////////////////
//                                        //
//                About Us                //
//                                        //
//////////////////////////////////////////*/


.aboutUs__container {
  transform: translateY(10px);
}

.aboutUs__description {
  width: 1080px;
}

/*//////////////////////////////////////////
//                                        //
//                Gallery                 //
//                                        //
//////////////////////////////////////////*/


.gallery {
  background-image: url(../img/3_Gallery/Background.jpg);
  background-repeat: no-repeat;
  background-position: center -455px;
  background-size: 100vw;
}

.gallery__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 89px;
  padding-bottom: 80px;
  overflow: hidden;
}

.gallery__info {
  position: relative;
  min-width: 400px;
}

.gallery__title {
  color: #fff;
}

.dropdownFilter__title {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
}

.choices {
  transition: all .15s ease-in-out;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__inner {
  padding: 0;
  min-height: 40px;
  height: 40px;
  color: #fff;
  background-color: transparent;
  border-radius: 6px;
  transition: all .15s ease-in-out;
}

.choices__inner:hover, .choices:focus {
  background-color:rgba(255, 255, 255, 0.2);
}

#choices--selectFilter-item-choice-1 {
  display: none;
}

.choices__list, .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown {
  border-radius: 6px;
}

.is-open .choices__list--dropdown {
  border-color: #999;
}

.choices__list--single {
  padding: 2px 0 0 14px;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__item {
  color: #fff;
}

.choices__item--selectable {
  font-size: 16px;
  transition: all .15s ease-in-out;
}

.choices__list--dropdown .choices__item--selectable:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable:after {
  content: '';
}

.choices__item--choice {
  color: #999;
}

.choices__item--choice:hover, .choices__list--dropdown .choices__item--selectable.is-highlighted:focus {
  background-color:rgba(255, 255, 255, 0.2);
  color: #fff;
}

.choices[data-type*=select-one]:after {
  content: '';
  position: absolute;
  top: 50%;
  height: 7px;
  width: 12px;
  margin-top: -2.5px;
  border: none;
  right: 14px;
  pointer-events: none;
  background-image: url(../img/0_Global/Arrow.svg);
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -3px;
  transform: rotateZ(180deg);
}

.checkboxOptionsBlock {
  display: flex;
  flex-direction: column;
}

.gallery__checkboxOptionsBlock {
  position: absolute;
  bottom: 0;
}

.checkboxOptionsBlock__item {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: all .15s ease-in-out;
}

.checkboxOptionsBlock__input {
  display: none;
}

.checkboxOptionsBlock__input + span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid #fff;
  transition: all .15s ease-in-out;
}

.checkboxOptionsBlock__input + span::before {
  content: '\2022';
  position: absolute;
  top: -11px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  color: #C283F3;
  transition: opacity .3s ease-in-out;
  transition: all .15s ease-in-out;
}

.checkboxOptionsBlock__input:checked + span::before {
  opacity: 1;
}

  .checkboxOptionsBlock__item:hover .checkboxOptionsBlock__input + span {
    border-color: #C283F3;
  }

  .checkboxOptionsBlock__item:active, .checkboxOptionsBlock__item:focus, .checkboxOptionsBlock__input:checked    {
    color: #C283F3;
  }

  .checkboxOptionsBlock__item:active .checkboxOptionsBlock__input + span, .checkboxOptionsBlock__item:focus .checkboxOptionsBlock__input + span, .checkboxOptionsBlock__input:checked + span{
    border-color: #C283F3;
  }

.gallery__swiper {
  margin: 0 0 0 auto;
}

.gallery .swiper {
  width: 1150px;
  margin-top: 13px;
}

.gallery__nav {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.gallery__navItem {
  position: unset;
  margin-top: 0px;
  width: 29.5px;
  height: 29.5px;
  background-color: #666;
  border-radius: 50%;
  transition: all .15s ease-in-out;
}

.gallery__navItem_next {
  border-radius: 20px;
}

  .gallery__navItem:hover {
    background-color: #9D5CD0;
  }

  .gallery__navItem:focus {
    border: 3px solid #9D5CD0;
    outline: none;
  }

  .gallery__navItem:active {
    background-color: #7943A4;
    border: 2px solid #000;
  }

.gallery__navItem::after {
  color: white;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url(../img/0_Global/Arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery__navItem_prev::after {
  transform: rotate(90deg);
}

.gallery__navItem_next::after {
  transform: rotate(-90deg);
}

.gallery__pagination {
  position: unset;
  bottom: auto;
  width: auto;
  margin: 0 20px 0;
  color: #fff;
}

.gallery__slider {
  height: auto;
}

.gallery__item {
  display: inline-block;
  padding: 25px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  outline: none;
}

.gallery__inspectOverlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/0_Global/Search_Plus.svg);
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

  .gallery__item:hover .gallery__inspectOverlay {
    opacity: 1;
  }

  .gallery__item:focus {
    border: 3px solid #7943A4;
  }

.gallery__item_background_1 {
  background-image: url(../img/3_Gallery/1.jpg);
}
 
.gallery__item_background_2 {
  background-image: url(../img/3_Gallery/2.jpg);
}
 
.gallery__item_background_3 {
  background-image: url(../img/3_Gallery/3.jpg);
}
 
.gallery__item_background_4 {
  background-image: url(../img/3_Gallery/4.jpg);
}
 
.gallery__item_background_5 {
  background-image: url(../img/3_Gallery/5.jpg);
}
 
.gallery__item_background_6 {
  background-image: url(../img/3_Gallery/6.jpg);
}

.gallery__popups {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

.gallery__popups_active {
  display: block;
  opacity: 1;
}

.popup {
  height: 500px;
  width: 900px;
  padding-left: 414px;
  background-color: #fff;
  background-image: url(../img/3_Gallery/2.jpg);
  background-position: 0 0;
  background-size: auto 101%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.gallery__popupItem {
  position: absolute;
  left: 0;
  right: 0;
  margin: 10vh auto 0;
}

.popup__info {
  padding: 130px 50px 0 48px;
  height: 100%;
  background-color: #fff;
}

.popup__author {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
}

.popup__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
}

.popup__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: #999;
}

.popup__description {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url(../img/0_Global/Cross.svg);
  cursor: pointer;
  transition: all .15s ease-in-out;
}

  .popup__close:hover, .popup__close:focus {
    background-image: url(../img/0_Global/Cross-purple.svg);
  }

  .popup__close:active {
    background-image: url(../img/0_Global/Cross-darkPurple.svg);
  }

/*//////////////////////////////////////////
//                                        //
//                Catalog                 //
//                                        //
//////////////////////////////////////////*/


.catalog__title {
  display: flex;
  flex-direction: row;
  margin-bottom: 11px;
  margin-top: 10px;
}

.catalog__descriptionText {
  width: 1082px;
}

.catalog__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 39px;
}

.biography {
  display: none;
  padding-top: 470px;
  width: 750px;
  background-repeat: no-repeat;
}

.catalog__artist_active {
  display: inline-block;
}

.catalog__artist_background_1 {
  background-image: url(../img/4_Catalog/Artist1.jpg);
  background-position: 0 -212px;
}

.catalog__artist_default {
  background-image: url(../img/4_Catalog/Artist0.jpg);
}

.biography__info {
  padding-top: 30px;
  background-color: #fff;
}

.biography__date {
  font-size: 12px;
  line-height: 32px;
  color: #999;
}

.biography__description {
  margin-top: 7px;
}

.accordion {
  width: 800px;
  font-family: 'Open Sans';
}

.accordion .accordion__name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 116px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-color: #e2e2e2;
  border-width: 1px;
}

.accordion .accordion__name:not(:first-child) {
  margin: -1px;
  border-top: none;
}

.accordion .ui-state-active.accordion__name {
  color: #7943A4;
  border-color: #7943A4;
  border-top: 1px solid #7943A4;
}

.accordion .ui-state-active.accordion__name:focus {
  outline: none;
}

.accordion .ui-state-active.accordion__name:focus .accordion__date {
  color: #fff;
  background-color: #9D5CD0;
}

.accordion .ui-state-active.accordion__name:focus .ui-icon {
  background-color: #D1A9F0;
}

.accordion__date {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

.accordion__name .ui-icon {
  margin-top: 0;
  height: 50px;
  width: 50px;
  background-image: url(../img/0_Global/Arrow-black.svg);
  background-position: center 21px;
  background-color: #ECECEC;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out;
}

.ui-state-active .ui-icon {
  transform: rotate(180deg);
}

.accordion .accordion__item {
  height: auto;
  padding: 0%;
  border-left: none;
  border-right: none;
}

.accordion .accordion__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 24px 0;
  max-height: 338px;
}

.accordion__content {
  display: inline;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  transition: all .15s ease-in-out;
}

.accordion__content:hover {
  border-bottom: 1px solid #9D5CD0;
  margin-bottom: -1px;
}

.accordion__content:focus {
  background-color: #9D5CD0;
  outline: none;
}

.accordion__item_default {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.accordion__picture_default {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  width: 275px;
  height: 189px;
  border: 2px solid #B7B7B7;
}

.accordion__img_default {
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  background-color: #B7B7B7;
}

.accordion__info_default {
  width: 275px;
  align-self: center;
}

.accordion__description_default {
  line-height: 21.79px;
}

/*//////////////////////////////////////////
//                                        //
//                 Events                 //
//                                        //
//////////////////////////////////////////*/

.events__container{
  position: relative;
}

.events__title {
  margin-top: 11px;
}

.events__cards {
  position: unset;
}

.cardsSwiper__nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 406px;
  left: 136px;
  width: 1650px;
}

.cardsSwiper__navItem {
  position: unset;
  margin-top: 0;
  height: 50px;
  width: 50px;
  background-image: url(../img/0_Global/Arrow-black.svg);
  background-position: center 17px;
  background-color: #ECECEC;
  background-repeat: no-repeat;
  border-radius: 25px;
  outline: none;
  border: 3px solid #ECECEC;
  transition: all .15s ease-in-out;
}

.cardsSwiper__navItem:hover {
  background-color: #D1A9F0;
}

.cardsSwiper__navItem:focus, .cardsSwiper__navItem:active {
  border: 3px solid #9D5CD0;
}

.cardsSwiper__navItem::after {
  content: '';
}

.cardsSwiper__navItem.swiper-button-disabled {
  opacity: 0;
}

.cardsSwiper__navItem_prev {
  transform: rotateZ(90deg);
}

.cardsSwiper__navItem_next {
  transform: rotateZ(-90deg);
}

.cardsSwiper__item {
  width: 500px;
  padding-top: 300px;
  background-repeat: no-repeat;
  background-position: 0;
}

.cardsSwiper__item_background_1 {
  background-image: url(../img/5_Events/Event1.jpg);
  background-position: -7px -1px;
}

.cardsSwiper__item_background_2 {
  background-image: url(../img/5_Events/Event2.jpg);
  background-position: 0 -19px;
}

.cardsSwiper__item_background_3 {
  background-image: url(../img/5_Events/Event3.jpg);
  background-position: -1px -39px;
}

.cardsSwiper__item_background_4 {
  background-image: url(../img/5_Events/Event4.jpg);
  background-position: 0 -225px;
}

.cardsSwiper__item_background_5 {
  background-image: url(../img/5_Events/Event5.jpg);
  background-position: 1px -17px;
}

.cardsSwiper__content {
  position: relative;
  padding: 60px 50px 50px;
  background-color: #fff;
  width: 100%;
  height: 400px;
  border: 1px solid #b5b5b5;
  border-top: none;
}

.cardsSwiper__caption {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 15px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  color: #999;
}

.cardsSwiper__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
}

.cardsSwiper__text {
  margin-top: 9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.cardsSwiper__btn {
  position: absolute;
  bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  outline: none;
  transition: all .15s ease-in-out;
}

.cardsSwiper__btn:hover {
  color: #7943A4;
}

.cardsSwiper__btn:focus {
  color: #fff;
  background-color: #9D5CD0;
}

.cardsSwiper__btn:active {
  color: #333;
  background-color: transparent;
}

.cardsSwiper__pagination {
  display: none;
}

/*//////////////////////////////////////////
//                                        //
//                Projects                //
//                                        //
//////////////////////////////////////////*/

.projects__title {
  margin-top: 11px;
  margin-bottom: 8px;
}

.projects__description {
  width: 1077px;
  font-weight: 400;
  line-height: 32px;
}

.projects__tooltip {
  position: relative;
}

.tooltip {
  display: inline-block;
  width: 16px;
}

.tooltip__marker {
  display: flex;
  bottom: -3px;
  width: 16px;
  height: 16px;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #9D5CD0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.tooltip__marker:hover, .tooltip__marker:focus {
  background-color: #D1A9F0;
}

.tooltip__marker:active {
  color: #fff;
  background-color: #9D5CD0;
}

.tooltip__popup {
  position: absolute;
  left: 50%;
  bottom: 203%;
  margin-bottom: 1em;
  width: 70px;
  height: 20px;
  background-color: #cbcbcb;
  border-radius: 3px;
  opacity: 0;
  white-space: nowrap;
  transform: translate(-50%, 1em);
  transition: all .15s ease-in-out;
}

.tooltip__popup::before {
  content: '';
  position: absolute;
  top: 95%;
  left: 50%;
  width: 0;
  height: 0;
  border: .6em solid transparent;
  border-top-color: #cbcbcb;
  transform: translate(-50%,0);
}

.tooltip__marker:hover + .tooltip__popup, .tooltip__marker:focus+ .tooltip__popup {
  opacity: 1;
}

.projects__link {
  color: #9D5CD0;
  outline: none;
  border-bottom: 1px solid #fff;
  transition: all .15s ease-in-out;
}

.projects__link:hover {
  border-bottom: 1px solid #9D5CD0;
  
}

.projects__link:focus {
  color: #fff;
  background-color: #9D5CD0;
}

.projects__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
  background-color: transparent;
}

.partners {
  width: 1600px;
}

.projects__partners {
  margin-top: 20px;
}

.partners__title {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 600;
}

.partners__content {
  position: relative;
  padding: 0 75px;
}

.partners__cards {
  position: unset;
}

.partners__nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 60px;
  left: 0px;
  width: 100%;
}

.partners__navItem {
  position: unset;
  margin-top: 0;
  height: 30px;
  width: 30px;
  background-image: url(../img/0_Global/Arrow-black.svg);
  background-position: 6px 9px;
  background-size: 12px;
  background-color: #ECECEC;
  background-repeat: no-repeat;
  border-radius: 15px;
  outline: none;
  border: 3px solid #ECECEC;
  transition: all .15s ease-in-out;
}

.partners__navItem::after {
content: '';
}

.partners__navItem:hover {
  background-color: #D1A9F0;
}

.partners__navItem:focus {
  border: 3px solid #9D5CD0;
}

.partners__navItem:active {
  background-color: #D1A9F0;
  border: 3px solid #9D5CD0;
}

.partners__navItem_prev {
  transform: rotateZ(90deg);
}

.partners__navItem_next {
  transform: rotateZ(-90deg);
}

.partners__list {
  width: 1450px;
}

.partners__item {
  max-width: 450px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #b5b5b5;
  transition: all .15s ease-in-out;
}

.partners__item:focus, .partners__item:active {
  border-color: #9D5CD0;
  outline: none;
}

.partners__item_background_1 {
  background-image: url(../img/7_Projects/FF_gray.png);
}

  .partners__item_background_1:hover, .partners__item_background_1:active {
    background-image: url(../img/7_Projects/FF.png);
  }

.partners__item_background_2 {
  background-image: url(../img/7_Projects/ICA_gray.png);
}

  .partners__item_background_2:hover, .partners__item_background_2:active {
    background-image: url(../img/7_Projects/ICA.png);
  }

.partners__item_background_3 {
  background-image: url(../img/7_Projects/Workhouse_gray.png);
}

  .partners__item_background_3:hover, .partners__item_background_3:active {
    background-image: url(../img/7_Projects/Workhouse.png);
  }

.partners__item_background_4 {
  background-image: url(../img/7_Projects/1849_gray.png);
}

  .partners__item_background_4:hover, .partners__item_background_4:active {
    background-image: url(../img/7_Projects/1849.png);
  }

.partners__item_background_5 {
  background-image: url(../img/7_Projects/HISCOX_gray.png);
}

  .partners__item_background_5:hover, .partners__item_background_5:active {
    background-image: url(../img/7_Projects/HISCOX.png);
  }

.partners__item_background_6 {
  background-image: url(../img/7_Projects/Camden_gray.png);
}

  .partners__item_background_6:hover, .partners__item_background_6:active {
    background-image: url(../img/7_Projects/Camden.png);
  }

.partners__item_background_7 {
  background-image: url(../img/7_Projects/Stassen_gray.png);
}

  .partners__item_background_7:hover, .partners__item_background_7:active {
    background-image: url(../img/7_Projects/Stassen.png);
  }

.partners__item_background_8 {
  background-image: url(../img/7_Projects/WATTS_gray.png);
}

  .partners__item_background_8:hover, .partners__item_background_8:active {
    background-image: url(../img/7_Projects/WATTS.png);
  }

.partners__item_background_9 {
  background-image: url(../img/7_Projects/ESAD_gray.png);
}

  .partners__item_background_9:hover, .partners__item_background_9:active {
    background-image: url(../img/7_Projects/ESAD.png);
  }

/*//////////////////////////////////////////
//                                        //
//                Contacts                //
//                                        //
//////////////////////////////////////////*/

.contacts__container {
  border: 1px solid #d5d3d3;
}

.contacts__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 33px 0;
}

.contacts__location, .contacts__getACall, .contacts__socials {
  margin: auto 0;
}

.location {
  font-family: 'Open Sans';
}

.location__name {
  font-weight: 600;
  font-size: 24px;
}

.getACallForm__fieldset {
  display: flex;
  width: 909px;
  justify-content: space-between;
  padding: 0 0;
  border: 0 none;
}

.getACallForm__item_input {
  padding-left: 24px;
  width: 270px;
  height: 50px;
  border: 2px solid #8d8b8b;
  border-radius: 25px;
  outline: none;
  transition: all .15s ease-in-out;
}

.getACallForm__item_input:hover, .getACallForm__item_input:focus {
  background-color: #ECECEC;
}

.getACallForm__item_btn {
  position: relative;
  width: 329px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  color: #9D5CD0;
  border: 3px solid #9D5CD0;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.getACallForm__item_btn:hover {
  background-color: #9D5CD0;
  color: #fff;
}

.getACallForm__item_btn:active {
  color: #fff;
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.getACallForm__item_btn:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -10px;
  left: -10px;
  width: 338px;
  height: 58px;
  border-radius: 32px;
  border: 3px solid #C283F3;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

  .getACallForm__item_btn:focus:before {
    opacity: 1;
  }

  .getACallForm__item_btn:active:before {
    opacity: 0;
  }

.socials__title {
  font-weight: 600;
  font-size: 24px;
}

.socials__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  transform: translateY(5px);
  border-radius: 20px;
  transition: all .15s ease-in-out;
}

.socials__item:hover, .socials__item:focus {
  opacity: 50%;
}

.socials__item:active {
  border: 1px solid #9D5CD0;
  opacity: 100%;
}

.socials__item:not(:last-child) {
  margin-right: 18px;
}

.socials__item_background_whatsapp {
  background-image: url(../img/8_Contacts/WhatsApp.svg);
}

.socials__item_background_telegram {
  background-image: url(../img/8_Contacts/Telegram.svg);
}

#contacts__map {
  width: 1920px;
  height: 700px;
  margin: 0 auto;
}

[class*="ground-pane"] {filter: grayscale(1);}

/*//////////////////////////////////////////
//                                        //
//                 Footer                 //
//                                        //
//////////////////////////////////////////*/

.footer {
  height: 140px;
  width: 100vw;
  background-color: #000;
}

.footer__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 173px;
  height: 40px;
  background-image: url(../img/0_Global/Logo.svg);
}

.footer__logo:focus {
  outline: 3px solid #C283F3;
}

.footerSocials {
  display: flex;
}

.footerSocials__item {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  outline: none;
  transition: all .15s ease-in-out;
}

.footerSocials__item:hover, .footerSocials__item:focus, .footerSocials__item:active {
  opacity: 100%;
}

.footerSocials__item:not(:last-child) {
  margin-right: 20px;
}

.footerSocials__item_background_vk {
  background-image: url(../img/9_Footer/VK.svg);
}

  .footerSocials__item_background_vk:active {
    background-image: url(../img/9_Footer/VK-purple.svg);
  }

.footerSocials__item_background_ok {
  background-image: url(../img/9_Footer/ok.svg);
}

  .footerSocials__item_background_ok:active {
    background-image: url(../img/9_Footer/ok-purple.svg);
  }


